<p id="notice"><%= notice %></p>
<div class="container center">
  <div class="jumbotron">
    <p>
      <strong><%= t('Name') %>:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong><%= t('Cost') %>:</strong>
      <%= @product.cost %>
    </p>

    <p>
      <strong><%= t('Price') %>:</strong>
      <%= @product.price %>
    </p>

    <p>
      <strong><%= t('Group') %>:</strong>
      <%= @product.group.name %>
    </p>
  </div>
  <%= link_to t('Edit'), edit_product_path(@product) %> |
  <%= link_to t('Back'), products_path %>
</div>
